div.azul{
    background-color: aqua;
    height: 60px;
    width: 10px;
   
}

div.azul2{
    background-color: aqua;
    height: 60px;
    text-align: center;
}

div.titulo{
    text-align: center;
}